
{% extends "base.html" %}

{% block head %}
    <title>Gioco iniziato!</title>
{% endblock head %}

{% block body %}
    <h1>RISULTATI</h1>
    <br><br>
        <form id="risposta" >


        <table border="1" style="width: 99%; ">


                    {% for risultato in risultati %}
                    <tr style="border-bottom: 1px solid #ddd" >

                        <td style="padding: 10px;" width="55%"><br><b>{{risultato[0]}}</b>
                            <br>
                            {% if( risultato[1]  ==  risultato[2] ) %}

                            <a style="color: green">La risposta era <b>{{risultato[1] }}</b>, risposta esatta!</a>

                            {% else %}
                                <a style="color: red">Hai dato la risposta <b>{{ risultato[1] }} </b>, ma era <b>{{ risultato[2] }}</b></a>


                            {% endif %}
                            <br>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        <br><br><br>
        <h3>
            {% if( punteggio<=5 ) %}
            Il tuo punteggio totale è: {{ punteggio }} / 10 , Puoi fare di meglio!
                            {% else %}
            Il tuo punteggio totale è: {{ punteggio }} / 10 , Continua così!

            {% endif %}
        </h3>



    </form>




{% endblock body %}